# .npmrc
node-linker=hoisted
public-hoist-pattern[]=expo
public-hoist-pattern[]=@expo/*
shamefully-hoist=true

shamefully-hoist=true
public-hoist-pattern=["*eslint*","*babel*","*metro*","react-native*"]
